<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= asset_url('happy_face.jpg') %>);">
  <div class="container">
    <h1><strong>SanitApp</strong></h1>
    <p>Find help when you need it.</p>
    <p>Where you need it.</p>
  </div>
</div>

<div class="container my-3">
  <div class="row row-cols-1 row-cols-md-2 g-4">
    <% @treatments.each do |treatment| %>
      <%= link_to treatment_path(treatment) do %>
        <div class="col">
          <div class="card">
            <%= cl_image_tag treatment.user.photo.key, height: 200, width: 300, crop: :fit %>
            <div class="card-body">
              <h5 class="card-title"><%= treatment.name %></h5>
              <p class="card-text"><%= treatment.description %></p>
              <p class="card-text"><%= treatment.price %> €</p>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
