<div class="container my-3 py-4">
  <div class="row">
    <div class="col-12 col-md-6 offset-lg-3">
      <div class="bg-white rounded p-4 shadow">
        <h3>Add a treatment</h3>
        <%= simple_form_for @treatment do |f| %>
            <%= f.input :name, placeholder: 'Please add a title' %>
            <%= f.input :category, collection: Treatment::CATEGORIES, include_blank: false %>
            <%= f.input :description, placeholder: 'Please add a description', label: 'Add a description' %>
            <%= f.input :address, placeholder: 'Address for the treatment', label: 'Address for the treatment' %>
            <div class="row g-3">
              <div class="col-md-6"><%= f.input :price, input_html: { value: 50 }, label: 'Price in €'%></div>
              <div class="col-md-6"><%= f.input :duration, input_html: { value: 30 }, label: 'Duration in minutes'%></div>
            </div>
            <%= f.input :next_free_spot_timestamp,
                        as: :string,
                        input_html: { data: { controller: "datepicker" } } %>
            <%= f.input :photo, as: :file %>
            <%= f.submit class: 'btn btn-primary' %>
        <% end %>
      </div>
    </div>
  </div>
</div>
