<div class="container">
  <%= link_to("< Back to treatments", root_path, class: "btn btn-outline-dark btn-sm my-3") %>
  <h1><%= @treatment.name %></h1>
  <p><%= @treatment.address %></p>


  <div class="row mb-4">
    <div class="col">
      <% if @treatment.photo.attached? %>
        <%= cl_image_tag @treatment.photo.key, height: 400, width: 600, crop: :fill, class:"my-3 w-100" %>
      <% else %>
        <%= image_tag('default_session.jpg', class: "my-3 w-100") %>
      <% end %>
      <div class="row">
        <div class="col-4 fw-bold"><p>Provider: </p></div>
        <div class="col-8"><p><%= @treatment.user.first_name %> <%= @treatment.user.last_name %></p></div>
      </div>
      <div class="row">
        <div class="col-4 fw-bold"><p>Category: </p></div>
        <div class="col-8"><p><%= @treatment.category %></p></div>
      </div>
      <div class="row">
        <div class="col-4 fw-bold"><p>Description: </p></div>
        <div class="col-8"><p><%= @treatment.description %></p></div>
      </div>
      <div class="row">
        <div class="col-4 fw-bold"><p>Location:</p></div>
        <div class="col-8"><p><%= @treatment.address %></p></div>
      </div>
      <div class="row">
        <div class="col-4 fw-bold"><p>Price:</p></div>
        <div class="col-8"><p><%= @treatment.price.to_i %>€ / <%= @treatment.duration %> minutes</p></div>
      </div>
      <div class="row">
        <div class="col-4 fw-bold"><p>Next free timeslot:</p></div>
        <div class="col-8"><p><%= @treatment.next_free_spot_timestamp.strftime("%a, %e.%m.%Y, %H:%M") %></p></div>
      </div>
    </div>

    <div class="col-6">
      <div class="border p-3 my-3 sticky-top" style="top:72px">
        <h2 class="my-3"> Ask for an appointment</h2>

        <% if user_signed_in? %>
          <%= simple_form_for [@treatment, @appointment] do |f| %>
            <%= f.input :comment %>
            <%= f.submit "Send request", class: "btn btn-primary" %>
          <% end %>
        <% end %>
      </div>
    </div>

  </div>
</div>

<div class="container d-flex justify-content-center my-5" >
  <div style="width: 100%; height: 500px;"
    data-controller="map"
    data-map-marker-value="<%= @marker.to_json %>"
    data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
  </div>
</div>
