<div class="container">
<h1><%= @treatment.name %></h1>
<%= cl_image_tag @treatment.user.photo.key, height: 400, width: 600, crop: :fill %>
<p>Category: <%= @treatment.category %></p>
<p>Description: <%= @treatment.description %></p>
<p>Location: <%= @treatment.address %></p>
<p>Price: <%= @treatment.price %> € for <%= @treatment.duration %> Minutes</p>
<p>Next free timeslot: <%= @treatment.next_free_spot_timestamp %></p>
<%= link_to("< Back to treatments", root_path, class: "btn btn-outline-dark") %>
<%= link_to("Ask for appointment", new_treatment_appointment_path(@treatment), class: "btn btn-primary") %>

</div>
