<div class="container">
<h1><%= @treatment.name %></h1>
<%= cl_image_tag @treatment.photo.key, height: 400, width: 600, crop: :fill %>
<p>Category: <%= @treatment.category %></p>
<p><%= @treatment.description %></p>
<p><%= @treatment.address %></p>
<p><%= @treatment.price %>€ for <%= @treatment.duration %> Minutes</p>
<p>Next Free Timeslot: <%= @treatment.next_free_spot_timestamp %></p>
<%= link_to("Ask for an Appointment", new_treatment_appointment_path(@treatment), class: "btn btn-primary") %>
</div>
