<div class="container">
  <h1>Your Appointments</h1>
    <% @appointments.each do |app| %>
      <div class="container">
        <ul>
          <li>
            Time: <%= app.timeslot %>
          </li>
          <li>
            User: <%= app.user.first_name %> <%= app.user.last_name %> - <%= app.comment %> - <%= app.status %>
          </li>
          <li>
            Provider: <%= app.treatment.user.first_name %> <%= app.treatment.user.last_name %> - <%= app.treatment.name %> - <%= app.status %>
          </li>
        </ul>
      </div>
    <% end %>
  <%= link_to("< back to home", root_path) %>
</div>
