<div class="container">
  <h1>Your Appointment</h1>
  <div class="container">
    <ul>
      <li>
        Time: <%= @appointment.timeslot %>
      </li>
      <li>
        User: <%= @appointment.user.first_name %> <%= @appointment.user.last_name %> - <%= @appointment.comment %> - <%= @appointment.status %>
      </li>
      <li>
        Provider: <%= @appointment.treatment.user.first_name %> <%= @appointment.treatment.user.last_name %> - <%= @appointment.treatment.name %> - <%= @appointment.status %>
      </li>
    </ul>
  </div>
  <%= link_to("< back to my Appointments", appointments_path) %>
</div>
